<div class="box-container">
  <ul class="floating-boxes">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="discover">
    <h1>Explore an amazing creative universe</h1>
    <h5>15 diverse categories. Thousands of amazing projects.</h5>
  </div>
  <div class="discover-grid group">
    <% Category.primary_categories.each do |category| %>
    <div class="discover-grid-cell">
      <div class="subcontainer">
        <h4>593 live projects</h4>
        <h2><%= category.name %></h2>
      </div>
    </div>
    <% end %>
  </ul>
</div>

<script>

var lastScroll = 0;
$(document).ready(function () {

  var distanceToTop = [];
  $("li").each(function (idx) {
    distanceToTop.push(parseInt($(this).css("top")))
  });

  $(document).on("scroll", function(event) {

    var offset = $(window).scrollTop();
    var height = $(document).height();
    var percentage = ((0.2 * offset) / height) * 100;

    if (offset === 0) {
      $("li").each(function (idx) {
        $(this).css({
          "top": distanceToTop[idx]
        })
      });
    }

    // We are scrolling down
    else if (offset < 650 && offset > lastScroll) {
      $("li").each(function (idx) {
        $(this).css({
          "top": parseInt($(this).css("top")) + percentage
        })
      });
    }

    // We are scrolling up
    else if (offset < 650 && offset < lastScroll) {
      $("li").each(function (idx) {
        $(this).css({
          "top": parseInt($(this).css("top")) - percentage
        })
      });
    }

    lastScroll = offset;
  });
});
</script>











