<h1>The world is but a
canvas to our imagination</h1>

<a href="<%= start_url %>">Start a project</a>
<h5>Learn more about our project categories:</h5>
<a href="">Art</a>
<a href="">Comics</a>
<a href="">Crafts</a>
<a href="">Dance</a>
