.video {
  position: relative;
  width: 100%;
  height: 730px;
}

.video video {
  height: 100%;
}

.video h3 {
  text-align: center;
  position: absolute;
  top: 270px;
  font-size: 60px;
  width: 100%;
  color: #fff;
  font-family: 'helvetica-neue-light';
}

.video h6 {
  text-align: center;
  position: absolute;
  top: 350px;
  font-size: 60px;
  width: 100%;
  color: #fff;
  font-family: 'helvetica-neue-light';
}

.video a {
  font-size: 18px;
  padding: 15px 20px;
  background: #2BDA5F;
  color: #FFFEFE;
  border-radius: 5px;
}

.video a:hover {
  background: #24A646;
}

.home-main {
  margin-bottom: 50px;
}

.staff-picks {
  background: #F5F8F8;
}

.home-main section {
  height: 400px;
  width: 80%;
  margin: auto;
  padding: 70px 0;
}

.home-main section h4 {
  font-size: 20px;
  float: left;
  padding-bottom: 30px;
}

.home-main section p {
  float: right;
  padding: 0;
  font-size: 12px;
  font-family: 'helvetica-neue-light';
	color: #828587;
}

.home-main .kickstarter-item-big-info > div > p,
.home-main .kickstarter-item-big-info > div span {
	color: #828587;
}

.home-main .kickstarter-item-big-info > div span {
	font-size: 12px;	
}

.home-main > div.staff-picks div.kickstarter-item-big {
  width: 80%;
  border: 1px solid #D0CFD6;
  border-radius: 5px;
  float: left;
  margin-right: 1.5%;
}

.home-main section > div.pick-of-day {
	margin: auto;
  width: 90%;
}

.home-main section > div.pick-of-day h4 {
	font-family: helvetica-neue-light;
}

.home-main section div.project-main > ul {
  float: right;
  width: 15%;
  border-left: 1px solid #D0CFD6;
}

.home-main ul > li {
  padding: 5px 20px 5px 20px;
  font-size: 14px;
}

.home-main li > a {
  color: #0C1905;
}

.side-categories li:hover {
  border-left: 3px solid #7BE9A2;
  padding-left: 17px;
}

.home-main li > a:hover {
  color: #7BE9A2;
  border-bottom: 1px solid #7BE9A2;
}

.home-main .project-main {

}

.home-main .kickstarter-items {
  width: 80%;
  padding-left: 1.5%;
}

.kickstarter-items h4 {
  width: 100%;
}

// CSS for small kickstarter item

.kickstarter-item {
  width: 300px;
  height: 460px;
  border: 1px solid #D0CFD6;
  border-radius: 5px;
  float: left;
  margin-right: 1.5%;
}

.kickstarter-item img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.kickstarter-item > div.img {
  width: 100%;
  float: left;
  padding: 0;
}

.kickstarter-item div {
  float: left;
  width: 93%;
  margin: auto;
  padding: 10px;
}

.kickstarter-item a {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #0f2105;
}

.kickstarter-item a:hover {
  color: #1E234B;
}

.kickstarter-item div > p,
.kickstarter-item div > span,
.kickstarter-item li > span {
  color: #6E7173;
  font-family: helvetica neue;
  font-weight: normal;
  font-size: 12px;
  padding-top: 10px;
  width: 100%;
}

.kickstarter-item div > span {
  padding: 0;
}

.kickstarter-item .kickstarter-item-location {
  margin-top: 5px;
}

.kickstarter-item .green-bar {
  width: 100%;
  height: 1.5%;
  padding: 0;
  margin: auto;
  position: relative;
}

.kickstarter-item .green-bar-outer {
  background: #D0CFD6;
  padding: 0;
  width: 93%;
  height: 100%;
  left: 3.5%;
  border-radius: 100px;
  position: absolute;
  top: 0;
}

.kickstarter-item .green-bar-inner {
  padding: 0;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 100px;
  background: #2CDB5F;
  position: absolute;
}

.kickstarter-item ul strong {
  float: left;
  font-size: 12px;
}

.kickstarter-item ul span {
  float: left;
  padding: 0;
}

.kickstarter-item ul > li {
  padding: 0;
  width: 30%;
  float: left;
}

// CSS for big kickstarter item

.project-main > div.kickstarter-item-big {
	width: 100%;
}

.kickstarter-item-big {
  width: 80%;
  border: 1px solid #D0CFD6;
  border-radius: 5px;
  float: left;
  margin-right: 1.5%;
}

.kickstarter-item-big img {
	display: block;
	float: left;
  width: 55%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.kickstarter-item-big > div.img {
  float: left;
}

.kickstarter-item-big > .kickstarter-item-big-info {
	float: left;
	width: 43%;
}

.kickstarter-item-big-info div {
  float: left;
  width: 100%;
  margin: auto;
  padding: 0 10px 10px 10px;
}

.kickstarter-item-big div.project-title-info {
	margin-top: 20px;
}

.kickstarter-item-big a {
	color: #081245;
  width: 100%;
	display: inline;
  font-size: 16px;
	font-weight: bold;
}

.kickstarter-item-big a:hover {
  color: #1E234B;
}

.kickstarter-item-big div > p,
.kickstarter-item-big div > span,
.kickstarter-item-big li > span {
	float: left;
	color: #081245;
	font-family: helvetica;
  font-weight: 200;
  font-size: 14px;
  padding-top: 10px;
	padding-bottom: 10px;
  width: 100%;
}

.kickstarter-item-big div > span {
  padding: 0;
}

.kickstarter-item-big .kickstarter-item-location {
}

.kickstarter-item-big .green-bar {
  width: 100%;
  height: 8px;
  padding: 0;
  margin: auto;
  position: relative;
	margin-bottom: 10px;
}

.kickstarter-item-big .green-bar-outer {
  background: #D0CFD6;
  padding: 0;
  width: 93%;
  height: 100%;
  left: 3.5%;
  border-radius: 100px;
  position: absolute;
  top: 0;
}

.kickstarter-item-big .green-bar-inner {
  padding: 0;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 100px;
  background: #2CDB5F;
  position: absolute;
}

.kickstarter-item-big ul strong {
  float: left;
  font-size: 12px;
}

.kickstarter-item-big ul span {
  float: left;
  padding: 0;
}

.kickstarter-item-big ul > li {
  padding: 0;
  width: 30%;
  float: left;
}

































