<style>
div.payment > article span {
  background: green;
}
</style>

<div class="payment">
  <%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount $0.50</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Back this project"
          data-amount="5">
  </script>
<% end %>
</div>



<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="customButton">Purchase</button>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_p9r91IpNCM8Gvjex6pv8Xo16',
    image: '/square-image.png',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Demo Site',
      description: '2 widgets ($20.00)',
      amount: 2000
    });
    e.preventDefault();
  });
</script>